        :root {
            --s: 50px;
            --c: #191b22;
            --_s: calc(2*var(--s)) calc(2*var(--s));
            --_g: 35.36% 35.36% at;
            --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
            --violet: #642fd5;
        }
        
        body {
            width: 100%;
            height: 100%;
            background:
            radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
            radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
            radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
            radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
            repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
            radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: white;
        }

        .boton-back {
            width: 150px;
            height: 35px;
            margin-left: 20px;
            font-size: 14px;
        }

        .boton-back {
            background: transparent;
            border: 2px solid #0096c7;
            color: #0096c7;
            padding: 0;
            width: 170px;
            height: 40px;
            border-radius: 35px;
            transition: 0.3s ease-in-out;
            position: relative;
            overflow: hidden;
            margin-top: 20px;
            margin-left: 50px;
        }
        
        .boton-back:hover {
            background: #0096c7;
            color: #fff;
        }
        
        .boton-back i {
            position: absolute;
            top: 70%;
            left: 20%;
            transform: translateY(-50%);
            font-size: 20px;
        }
        
        .boton-back::before {
            content: "Volver a inicio";
            margin-right: 5px;
            padding-top: 8px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background: linear-gradient(to right, #0073b7, #0096c7);
            transform: translateX(-100%);
            transition: 0.3s ease-in-out;
        }

        .boton-back:hover::before {
            transform: translateX(0);
        }

        h1 {
            color: #0096c7;
            font-size: xx-large;
            margin: 50px;
            text-align: center;
            text-decoration: underline;
            font-family: "Tilt Prism";
        }

        section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            justify-items: center;
        }

        .fila {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            justify-items: center;
        }

        .img-container {
            max-width: 400px; /* Ancho máximo para el contenedor de imágenes */
        }

        img {
            max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
            height: auto; /* Para mantener la proporción */
        }

        h2 {
            font-size: 1.5em;
            text-align: center;
            /* font-family: "Tilt Prism"; */
            /* font-family: 'Kalam'; */
            /* font-family: "Seymour One", sans-serif; */
        }


        @media (max-width: 768px) {
            section{
                padding: 15px;
            }

            h1 {
                margin: 20px;
            }

            h2 {
                font-size: 1em;
                margin: 16px;
            }

            .boton-back {
                margin-left: 120px;
            }
        }
        