body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    margin-right: 50px;
}


button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: green;
}

button:hover {
    background-color: rgb(43, 226, 92);
}

/* Header */
header {
    height: 85px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;

}

header h2 {
    font-family: 'Kalam';
}

header nav a {
    font-weight: 550;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 25px;
    font-family: 'Kalam';
    font-weight: bold;
    font-size: 1.4em;
}

header a:hover {
    height: 70px;
    background-color: rgb(43, 226, 92);
    border-radius: 7px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    transition: 0.1s;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 125px;
}

/* Hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/hola.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#hero h1 {
    color: rgb(0, 255, 68);
    font-family: 'Tilt Prism', cursive;
}


#hero button {
    font-size: 1.75em;
}



/* Acerca de Nosotros! */

#Nosotros .container {
    background-color: rgb(30, 30, 30);
    color: white;
    width: 100%;
    height: 1150px;
    margin-bottom: 2px;

}

.color-acento {
    text-decoration: underline;
    color: #642fd5;
    font-size: 1.25em;
    padding-left: 0 !important;
}

#Nosotros h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 15px;
    font-size: 2em;
    padding-bottom: 10px;
}


.Subtitulo1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.5em;
    color: red;
}


.Subtitulo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 30px;
    font-size: 1.5em;
}

#Nosotros strong {
    color: rgba(0, 255, 68, 0.7);
    font-family: 'Kalam', cursive;
}

#Nosotros span {
    padding-left: 60px;
    font-family: 'Lugrasimo', cursive;
}

#Nosotros .img-container {
    margin: 2px;
    background-image: url("/img/Martin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    width: 600px;
    border-radius: 30px;
    margin-left: 650px;
    margin-top: 40px;
}



/* Nuestro Programa */
#Nuestro-Cronograma body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#Nuestro-Cronograma {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 2px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Nuestro-Cronograma .container {
    text-align: center;
}

#Nuestro-Cronograma h2 {
    padding: 20px;
    font-size: 2.5em;
    margin: 0;
    text-decoration: underline;
    color: rgb(0, 255, 68);
    margin-bottom: 80px;
    font-family: 'Lugrasimo', cursive;
}

#Nuestro-Cronograma p {
    font-family: 'Kalam', cursive;
}

.programas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    border-radius: 15px;
    width: 350px;
    height: 450px;
    margin: 0 20px;
}

.carta h3 {
    font-size: 1.5em;
    font-family: 'Tilt Prism', cursive;
}

.carta p {
    font-size: 1.4em;
}

.carta button {
    margin-top: 20px;
    font-size: 1.2em;
}

.carta button:hover {
    background-color: #642fd5;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/Programa.jpg");
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/horario.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("/img/torneos.jpg");
}




/* Caracteristicas */

#caracteristicas .container {
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    height: 550px;

}

#caracteristicas .container img {
    width: 50%;
    height: auto;
    max-height: 580px;
    /* Altura máxima para la imagen */
    object-fit: contain;
    /* Ajusta la imagen manteniendo su relación de aspecto */
    background-color: gray;
}

#caracteristicas ul {
    flex: 1;
    /* Ocupará el espacio restante */
    padding: 20px;
    /* Espacio para separar la imagen */
}


#caracteristicas h3 {
    font-size: 2.5em;
    margin-bottom: 50px;
    font-weight: lighter;
    color: white;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
}

#caracteristicas ol {
    color: white;
    padding: 10px;
    font-size: 2em;
    font-family: 'Lugrasimo', cursive;
}



/* Preguntas Frecuentes */

#Preguntas-frecuentes .container {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 100%;

}

#Preguntas-frecuentes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    color: white;
    margin-bottom: 2px;

}
#Preguntas-frecuentes h1 {
    color: black;
    font-size: 1.25em;
    text-align: left;
}
#Preguntas-frecuentes h2 {
    font-size: 2.5em;
    text-decoration: underline;
    font-family: 'Kalam', cursive;
}

#Preguntas-frecuentes p {
    color: black;
    text-align: left;
}

#Preguntas-frecuentes ol {
    color: black;
    font-size: 1.25em;
}

#Preguntas-frecuentes span {
    font-weight: bold;
    text-decoration: underline;
}
#Preguntas-frecuentes button {
    font-size: 1.5em;

}

/* Accordion */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


.active,
.accordion:hover {
    background-color: #ccc;
    
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: left; 
}

/* Footer */
footer {
    background-color: rgba(230, 230, 230, );
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgba(100, 100, 100, );
}

footer.container {
    height: 150px;
    justify-content: center;
    align-items: flex-end
}

/* ubicación */

#Ubicacion body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 00vh;
    margin: 0;
    background-color: #f0f0f0;
}

#Ubicacion h2 {
    font-size: 2.5em;
    font-family: 'Kalam', cursive;
}

#Ubicacion {
    width: 100%;
    height: 70%;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
}

#Ubicacion .container {
    text-align: center;
}

#Ubicacion .container h2 {
    color: white;
    text-decoration: underline;
}

#Ubicacion iframe {}
























/* aca finaliza la parte Desktop */
/* @media screen and (max-width: 768px) {} */