:root {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
  --violet: #642fd5;
}

*{box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background:
  radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
  radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
  radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
  radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
  repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
  radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

p  {font-size: 1.25em;}
h1 {font-size: 3.5em;}
h2 {font-size: 1.5em;}
h3 {font-size: 2em;}
li {font-size: 1.2em;}
ul {list-style: none;}

a {
  text-decoration: none;
  color: black;
}

button {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #1b7446;
}

button:hover {
  background-color: rgb(43, 226, 92);
}

/* Header */
nav {
  background: linear-gradient(to bottom, #1b7446, #4caf50);
  height: 90px;
  width: 100%;
  position: fixed;
}

.enlace {
  position: absolute;
  padding: 0px 30px;
}

.logo{
  height: 100px;
}

.enlace h1 {
  display: flex;
  font-size: 20px;
}

.logo:hover {
  height: 105px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-family: 'Kalam';
  color: #fff;
  font-size: 1.1em;
  padding: 2px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a:hover {
  background-color:#0073b7;
  color: black;
  border-radius: 7px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.checkbtn {
  font-size: 25px; /* Tamaño del menu hamburguesa */
  color: #fff; /* Color del menu hamburguesa */
  float: right; 
  line-height: 80px; 
  padding-top: 8px;
  margin-right: 25px;
  cursor:pointer;
  display: none;
}

#check {
  display: none;
}

nav ul li a .contenedor {
  display:inline-block ;
  display: flex;
  justify-content: center;
  /* line-height: 80px; */
  gap: 10px;
}
nav ul li a .contenedor a {
  font-size: 1.1em;
  transition: all ease 300ms;
}
nav ul li a .contenedor a:hover {
  transform: scale(1.2);
}
.fa-facebook {
  /* color: white; */
}

/* Hero */
#hero {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("/img/escuela-artes-marciales-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  /* font-family: "Tilt Prism", cursive; */
  /*   font-family: 'Kalam'; */
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 255, 68, 0.8);
  margin: 0px;
  padding: 300px 50px 42px 50px;
}

#hero button {
  font-size: 1.75em;
}

#informacion-button {
  cursor: pointer;
}

/* Acerca de Nosotros! */
#Nosotros {
  color: white;
  margin-bottom: 2px;
}

.color-acento {
  text-decoration: underline;
  color: #642fd5;
  font-size: 1.25em;
}

#Nosotros h2 {
  font-family: "Kalam", cursive;
  text-align: center;
  margin: 2px;
  padding: 15px;
  font-size: 2em;
}

#Nosotros .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Subtitulo1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.Subtitulo {
  padding: 10px;
  font-size: 1.5em;
}

#TextoSpan {
  display: flex;
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Lugrasimo", cursive;
  word-spacing: 3px;
  letter-spacing: 2px;
}

#Nosotros strong {
  color: rgba(0, 255, 68, 0.7);
  font-family: "Kalam", cursive;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.texto {
  flex: 1 0 40%;
  padding: 0 20px;
}

.img-container {
  display: ruby;
  margin: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  padding: 40px;
}

#Nosotros .img-container img {
  width: 50%; 
  height: auto; 
  object-fit: cover;
}

/* Nuestro Programa */
#Nuestro-Cronograma {
  color: white;
  margin-bottom: 2px;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Nuestro-Cronograma .container {
  text-align: center;
}

#Nuestro-Cronograma h2 {
  font-size: 2em;
  text-decoration: underline;
  /* font-family: "Lugrasimo", cursive; */
  font-family: "Kalam", cursive;
}

#Nuestro-Cronograma p {
  font-family: "Kalam", cursive;
  font-size: large;
}

.programas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.carta {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  border-radius: 15px;
  width: 350px;
  height: 500px;
  margin: 0 50px; /* espacio entre card y card */
}

.carta p {
  text-align: justify;
  height: 10rem;
  overflow: scroll;
}

.carta p::-webkit-scrollbar {
  display: none;
}

.carta h3 {
  font-size: 1.5em;
  font-family: "Tilt Prism", cursive;
}

.carta p {
  font-size: 1.4em;
}

.carta button {
  margin-top: 20px;
  font-size: 1.2em;
}

.carta button:hover {
  background-color: #642fd5;
}

.carta:first-child {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("/img/programa-taekwondo-itf.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("/img/horarios-clases-taekwondo.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("/img/torneos-eventos-taekwondo.jpg");
}
.carta:nth-child(4) {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("/img/galeria-imagenes-taekwondo.jpg");
}

/* Caracteristicas */
#caracteristicas .container {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

#caracteristicas .container img {
  object-fit: contain; /* Ajusta la imagen manteniendo su relación de aspecto */
}

#caracteristicas img {
  height: 10%;
  width: 50%;
}

#caracteristicas ul {
  flex: 1; /* Ocupará el espacio restante */
}

#caracteristicas h3 {
  font-size: 2.5em;
  margin-bottom: 50px;
  font-weight: lighter;
  color: white;
  font-family: "Kalam", cursive;
  text-decoration: underline;
}

#caracteristicas ol {
  color: white;
  padding: 10px;
  font-size: 2em;
  font-family: "Lugrasimo", cursive;
}

/* Preguntas Frecuentes */
#infoButton1,
#infoButton2,
#infoButton3,
#infoButton4 {
  cursor: pointer;
  text-align: center;
  align-items: center;
  font-size: medium;
  width: 40%;
  height: 10%;
  padding: 0;
  margin-top: 50px;
}

#Preguntas-frecuentes {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  color: white;
  margin-bottom: 2px;
}

#Preguntas-frecuentes .container {
  padding-bottom: 55px;
  margin-bottom: 2px;
}

#Preguntas-frecuentes h1 {
  color: black;
  font-size: 1.25em;
  text-align: left;
}

#Preguntas-frecuentes h2 {
  font-size: 2.5em;
  text-decoration: underline;
  font-family: "Kalam", cursive;
}

#Preguntas-frecuentes p {
  color: black;
  text-align: left;
}

#Preguntas-frecuentes ol {
  color: black;
  font-size: 1.25em;
}

#Preguntas-frecuentes span {
  font-weight: bold;
  text-decoration: underline;
}

#Preguntas-frecuentes button {
  font-size: 1.5em;
  font-family: "Tilt Prism";
  /* font-family: 'Kalam'; */
  /* font-family: "Seymour One", sans-serif; */
}

/* Accordion */
.accordion {
  background-color: #f2f2f2;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #1b7446;
  color: white;
}

.panel {
  padding: 0 18px;
  background-color: #0073b7; 
  display: none;
  overflow: hidden;
  text-align: left;
}

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
}

footer p {
  margin: 0;
  padding: 12px;
  color: white;
}

footer.container {
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(0, 0, 0);
}

/* ubicación */
#Ubicacion body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 00vh;
  margin: 0;
  background-color: #f0f0f0;
}

#Ubicacion h2 {
  font-size: 2.5em;
  font-family: "Kalam", cursive;
}

#Ubicacion {
  display: flex;
  justify-content: center;
}

#Ubicacion .container {
  padding-bottom: 40px;
  margin-bottom: 2px;
}

#Ubicacion .container {
  text-align: center;
}

#Ubicacion .container h2 {
  color: white;
  text-decoration: underline;
  font-size: 2em;
}

#Comentarios_Y_Sugerencias {
  max-width: 600px;
  margin: 50px auto 10px auto;
}

#Comentarios_Y_Sugerencias a {
  font-weight: bold;
  display: inline-block;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#Comentarios_Y_Sugerencias a:hover {
  background-color: #642fd5;
}


/* Estilo responsive de Hero */
/* Estilos para pantallas menores o iguales a 768px (móvil) */
@media (max-width: 768px) {
  #hero h1 {
    font-size: 2em;
    padding: 170px 50px 42px 50px; 
  }
}

@media (min-width: 768px) and (max-width: 1662px) {
  #hero h1 {
    font-size: 2em;
    padding: 120px 50px 42px 50px; 
  }
}

/* Estilo para dispositivos móviles */
/* Estilo responsive de #Nuestro-Cronograma - Cards */
@media (max-width: 1608px) { 
  #Nuestro-Cronograma {
    height: auto; 
  }

  .programas {
    flex-wrap: wrap; 
    justify-content: center;
  }

  .carta {
    width: calc(100% - 40px); /* Ajusta el ancho de la tarjeta para pantallas pequeñas */
    margin: 10px 20px; /* Ajusta el margen de la tarjeta para pantallas pequeñas */
    padding: 30px; /* Aumenta el relleno de la tarjeta para pantallas pequeñas */
    height: auto; /* Permite que la altura de la tarjeta se ajuste al contenido */
  }

  .carta p {
    height: unset; /* Elimina la altura fija para el texto */
  }

  #infoButton1,
  #infoButton2,
  #infoButton3,
  #infoButton4 {
  width: 23%; 
  height: 19%; 
  font-size: large;
  }
}

/* Estilo responsive de Acerca de Nosotros */
/* Estilos para pantallas menores o iguales a 768px (móvil) */
@media (max-width: 768px) {
  .texto {
    flex: 1 0 100%;
    padding-top: 35px;
    padding: 0;
    text-align: center;
  }

  #Nosotros .img-container img {
    width: 100%;
  }

  #Nosotros strong {
    padding: 6px;
}
}

/* Estilo responsive de Caracteristicas */
/* Estilos para pantallas menores o iguales a 768px (móvil) */
@media (max-width: 768px) {
  #caracteristicas .container {
    flex-direction: column; /* Apilamos el contenido */
  }

  #caracteristicas img {
    /* display: none; */
    height: 15vh;
    width: 30vh;
  }

  #caracteristicas h3 {
    font-size: 2em; /* Reducimos el tamaño del encabezado */
    margin:20px;
    text-align: center;
  }

  #caracteristicas ol {
    font-size: 1.5em;
    text-align: center;
  }

  #caracteristicas ul{
    padding: 0;
  }
}

/* Estilo responsive de Ubicacion */
/* Estilos para pantallas menores o iguales a 768px (móvil) */
@media (max-width: 768px) {
  #Ubicacion body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

  #Ubicacion {
    display: flex;
    justify-content: center;
  }

  #Ubicacion .container {
    padding-bottom: 50px; /* Ajusta el padding para móvil */
    margin-bottom: 2px;
  }

  #Ubicacion .container {
    text-align: center;
  }

  #Ubicacion .container h2 {
    color: white;
    text-decoration: underline;
    font-size: 2em;
  }

  #Ubicacion iframe {
    width: 85%; 
    height: 200px; 
  }  
}

/* Estilo responsive del Header (navbar) */
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-oculto {
      display: none;
  }

  .logo img {
    height: 8vh;
  }
}

/* Estilo responsive del Header (navbar) */
@media (max-width: 1662px) {
  .menu-oculto {
    display: none;
  }

  .logo img {
    height: 9vh;
  }
}
/* Estilo responsive de Footer */
/* Estilos para pantallas menores o iguales a 768px (móvil) */
@media (max-width: 768px) {
  footer p {
    font-size: x-small;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer p {font-size: 1.25em;}
}

/* HAMBURUGUESA */
@media(max-width: 952px) {
  .enlace {
    padding-left: 10px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1570px) {
  .checkbtn {
    display: block;
  }

  
  
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #204C37;
    top: 73px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
  }
  nav ul li {
    display: block;
    margin: 35px 0; /* cambie de 50 a 43  */
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    font-weight: bolder;
  }
  nav li a:hover {
    background: #0073b7;
    color: black;
  }
  #check:checked ~ ul {
    left: 0;
  }
}




